<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>보내는 쪽</title>
</head>
<body style="background-color:yellow">
    <form method="post"action="/ex01/answer">
        <p>
            아이디 : <input type="text"name="id">
            <br>
            비밀번호 : <input type="password" name="pw">
        </p>
        <p>
            <input type="submit"value="확인">
        </p>
    </form>
</body>
</html>