<html xmlns:th="http://www.thymeleaf.com">

<head>
    <meta charset="UTF-8">
    <title>logout</title>
</head>

<body style="text-align:center">
    <span style="color:blue" th:text="${id}">id</span> 님께서 로그아웃하셨습니다. <p>
        다음에 또 만나요 !! <p>
        <span style="color:gray; font-size:0.8em">
            (아래 그림을 클릭하시면 첫 화면으로 이동합니다.)
        </span> <br>
        <a href="/login">
            <img src="zakkabye.jpg" width="300" height="220" alt="바이바이 그림">
        </a>
</body>

</html>