<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회사와 모델을 선택하세요 !</title>
</head>

<body style="background-color:skyblue">
    <form method="post" action="/phone/result">
        회사 : <input type="text" name="company">
        <p>
            모델명 : <br>
            <input type="radio" name="model" value="z 플립 9" checked>z 플립 9 <br>
            <input type="radio" name="model" value="12 Mini">12 Mini <br>
            <input type="radio" name="model" value="23 Plus">23 Plus
        </p>
        <p>
            <input type="submit" value="선택">
        </p>
    </form>
</body>

</html>