<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>artist</title>
</head>

<body>
    <h2>좋아하는 화가</h2>
    <form method="post" action="/survey2">
        <input type="radio" name="artist" value="몽크">몽크<br>
        <input type="radio" name="artist" value="달리">달리<br>
        <input type="radio" name="artist" value="고흐">고흐<br>
        <input type="radio" name="artist" value="이중섭">이중섭
        <p>
            <input type="submit" value="선택">
        </p>
    </form>
</body>

</html>