<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>보내는 쪽</title>
</head>

<body style="background-color:yellow">
    <form method="post" action="/wise/answer">
        <p>
            위인 : <input type="text" name="name">
        </p>
        <p>
            명언 : <input type="text" name="saying" size="40">
        </p>
        <input type="submit" value="입력">
    </form>
</body>

</html>